*
.*

!.gitignore
!README.org
!manage.sh

!bash/
!bash/profile
!bash/bashrc

!bin/
!bin/attach-tmux.sh
!bin/bakplz.sh
!bin/gen_ssh_keys.sh
!bin/grab_openbsd.sh
!bin/kill-tmux.sh
!bin/netplz.sh
!bin/redshift_toggle.sh
!bin/spawn-tmux.sh
!bin/start-vm.sh
!bin/tmux-blog.sh
!bin/tmux-monitor.sh
!bin/watchdir.sh

!emacs/
!emacs/init.el
!emacs/my_elisp/
!emacs/my_elisp/**
!emacs/my_snippets/
!emacs/my_snippets/**
!emacs/skywhi.org

!git/
!git/config

!gnupg/
!gnupg/gpg.conf

!i3/
!i3/i3.conf
!i3/statusbar_desktop
!i3/statusbar_laptop

!irssi/
!irssi/config

!newsboat/
!newsboat/config

!profiles/
!profiles/arch-desktop
!profiles/arch-laptop

!ranger/
!ranger/rc.conf
!ranger/rifle.conf

!tmux/
!tmux/tmux.conf

!xorg/
!xorg/typematrix.xkb
!xorg/wallpapers/
!xorg/wallpapers/**
!xorg/xinitrc
!xorg/Xresources
!xorg/Xlight_theme
!xorg/Xdark_theme
!xorg/xscreensaver
!xorg/xscreensaver_blank
